.header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 background-color: var(--text);
 color: #fff;
 z-index: 100;
}
.header__row {
 justify-content: space-between;
 padding: min(55px, 5%) 0 30px 0;
 @include bp(500px) {
  padding: 35px 0;
 }
}
