@use "sass:math";

@mixin bp($point) {
  @media (max-width: $point) {
    @content;
  }
}

@mixin land {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin portret {
  @media screen and (orientation: portrait) {
    @content;
  }
}

///https://css-tricks.com/snippets/sass/viewport-sized-typography-minimum-maximum-sizes/
/// Viewport sized typography with minimum and maximum values
///
/// @author Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
/// @example scss - 5vw font size (with 50px fallback),
///                 minumum of 35px and maximum of 150px
///  @include rfont(5vw, 35px, 150px, 50px);
///

@mixin rfont($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: math.div($responsive, $responsive - $responsive + 1);
  $dimension: if(unit($responsive) == "vh", "height", "width");
  $min-breakpoint: math.div($min, $responsive-unitless) * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: math.div($max, $responsive-unitless) * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

@mixin row($justufy: null, $align: null) {
  display: flex;
  flex-wrap: wrap;

  @if ($justufy == "jst") {
    justify-content: flex-start;
  }

  @if ($justufy == "jend") {
    justify-content: flex-end;
  }

  @if ($justufy == "jc") {
    justify-content: center;
  }

  @if ($justufy == "jsb") {
    justify-content: space-between;
  }

  @if ($justufy == "jsa") {
    justify-content: space-around;
  }

  @if ($align == "ac") {
    align-items: center;
  }

  @if ($align == "as") {
    align-items: stretch;
  }

  @if ($align == "ab") {
    align-items: baseline;
  }

  @if ($align == "ast") {
    align-items: flex-start;
  }
}

@mixin center($axis: "both") {
  position: absolute;

  @if ($axis == "both") {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == "x" {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == "y" {
    top: 50%;
    transform: translateY(-50%);
  }
}
