.btn {
 padding: 1em 1.75em 1.2em 1.75em;
 border: 2px solid var(--accent);
 font-weight: bold;
 line-height: 1;
 background-color: var(--accent);
 color: var(--text);
 &:hover {
  background-color: transparent;
  color: var(--accent);
 }
}

.link {
 padding: 5px;
 &::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 2px;
  background-color: var(--accent);
 }
}
